BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pushbutton" SITE "L14" ;
LOCATE COMP "leds[0]" SITE "N13" ;
LOCATE COMP "leds[1]" SITE "M12" ;
LOCATE COMP "leds[2]" SITE "P12" ;
LOCATE COMP "leds[3]" SITE "M11" ;
LOCATE COMP "leds[4]" SITE "P11" ;
LOCATE COMP "leds[5]" SITE "N10" ;
LOCATE COMP "leds[6]" SITE "N9" ;
LOCATE COMP "leds[7]" SITE "P9" ;
