BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rst_n_in" SITE "L14" ;
LOCATE COMP "sync_h" SITE "L3" ;
LOCATE COMP "sync_v" SITE "N5" ;
LOCATE COMP "vga_data[0]" SITE "P6" ;
LOCATE COMP "vga_data[1]" SITE "N6" ;
LOCATE COMP "vga_data[2]" SITE "P7" ;
