BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rgb[0]" SITE "M2" ;
LOCATE COMP "rgb[2]" SITE "P2" ;
LOCATE COMP "key[0]" SITE "L14" ;
LOCATE COMP "key[1]" SITE "M13" ;
LOCATE COMP "key[2]" SITE "M14" ;
LOCATE COMP "rgb[1]" SITE "N2" ;
LOCATE COMP "key[3]" SITE "N14" ;
LOCATE COMP "rgb[3]" SITE "M3" ;
LOCATE COMP "rgb[4]" SITE "N3" ;
LOCATE COMP "rgb[5]" SITE "P4" ;
